
<section class="comonSection" id="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="sectionTitle">
                    <i class="icon-newspaper"></i>
                    <h2>Телевизонный продюсерский центр</h2>
                    <p>Мы поможем вам организвовать и провести мероприятие вашей мечты. Мы знаем как, что и когда</p>
                    <div class="lets-talk-button">
                        <button type="button">Давайте работать вместе</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 aboutItem wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="singleAbout">
                    <i class="icon-presentation"></i>
                    <h2>События</h2>
                    <p>
                        Организация мероприятий под ключ, включая профессиональную телевизионную многокамерную съемку
                    </p>
                </div>
            </div>
            <div class="col-sm-4 aboutItem wow fadeInUp" data-wow-duration="700ms" data-wow-delay="350ms">
                <div class="singleAbout">
                    <i class="icon-recycle"></i>
                    <h2>Опыт</h2>
                    <p>
                        На рынке таких-то услуг с 2007 года
                    </p>
                </div>
            </div>
            <div class="col-sm-4 aboutItem wow fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
                <div class="singleAbout">
                    <i class="icon-wallet"></i>
                    <h2>Люди</h2>
                    <p>
                        Команда профессионалов c огромным багажом опыта работы на профессиональном телевидении
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 aboutItem wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="singleAbout">
                    <i class=" icon-presentation"></i>
                    <h2>Our Vision</h2>
                    <p>
                        Десятки реализованных проектов. <a>Посмотреть</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4 aboutItem wow fadeInUp" data-wow-duration="700ms" data-wow-delay="350ms">
                <div class="singleAbout">
                    <i class="icon-recycle"></i>
                    <h2>Клиенты</h2>
                    <p>
                        Превыше всего
                    </p>
                </div>
            </div>
            <div class="col-sm-4 aboutItem wow fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
                <div class="singleAbout">
                    <i class="icon-wallet"></i>
                    <h2>Подход</h2>
                    <p>
                        Отточенные бизнес-процессы, максимальная компетенция на каждом этапе
                    </p>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-lg-8 col-lg-offset-2 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="skillArea">
                    <div class="singleSkill" data-limit="90">
                        <div class="skillLabel">
                            HTML & CSS <span class="skilPercent">90%</span>
                        </div>
                        <div class="skillBG">
                            <div class="skillMain" style="width: 0%"></div>
                        </div>
                    </div>
                    <div class="singleSkill" data-limit="60">
                        <div class="skillLabel">
                            Photoshop <span class="skilPercent">60%</span>
                        </div>
                        <div class="skillBG">
                            <div class="skillMain" style="width: 0%;"></div>
                        </div>
                    </div>
                    <div class="singleSkill" data-limit="75">
                        <div class="skillLabel">
                            PHP & Framework <span class="skilPercent">75%</span>
                        </div>
                        <div class="skillBG">
                            <div class="skillMain" style="width: 0%;"></div>
                        </div>
                    </div>
                    <div class="singleSkill noMarginBottom" data-limit="95">
                        <div class="skillLabel">
                            Wordpress <span class="skilPercent">95</span>
                        </div>
                        <div class="skillBG">
                            <div class="skillMain" style="width: 0%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</section>