<section class="comonSection clientSection wow fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms" id="clients">
    <div class="container">
        <div class="col-lg-12">
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/6.png" alt="" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/2.png" alt="" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/10.png" alt="" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/4.png" alt="" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/5.png" alt="" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/9.png" alt="" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/7.png" alt="" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/8.png" alt="" class="normalImg" />
                </a>
            </div>
        </div>
    </div>
</section>