<section class="comonSection clientSection wow fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms" id="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="sectionTitle">
                    <i class="flaticon-happiness"></i>
                    <h2>Наша клиенты</h2>
                    <p>Все довольны и счастливы</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="singleClient">
                <a href="https://bridgemedia.ru/" target="_blank">
                    <h3 style="color: white">Bridge Media</h3>
                </a>
            </div>
            <div class="singleClient">
                <a href="http://www.dszn.ru/" target="_blank">
                    <h3 style="color: white">Департамент труда и социальной защиты населения города Москвы</h3>
                </a>
            </div>
            <div class="singleClient">
                <a href="http://sadovoe-kolco.ru/" target="_blank">
                    <h3 style="color: white">Группа компаний "Садовое кольцо"</h3>
                </a>
            </div>
            <div class="singleClient">
                <a href="http://folkteatr.ru/" target="_blank">
                    <h3 style="color: white">Музыкальный театр "Русская песня"</h3>
                </a>
            </div>
        </div>
    </div>
</section>