<section class="comonSection clientSection wow fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms" id="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="sectionTitle">
                    <i class="icon-puzzle"></i>
                    <h2>Наша клиенты</h2>
                    <p>Все довольны и счастливы</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="singleClient">
                <a href="https://bridgemedia.ru/" target="_blank">
                    <img src="~/Content/Images/client/bridge_tv.svg" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/dpt.png" class="normalImg"/>
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/lbl.png" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/mkrf-logo.svg" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/mkrf-logo.svg" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/rus_song.png" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/rusong_tv.svg" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/sadovor_koltso.png" class="normalImg"  />
                </a>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/stageent.png" class="normalImg" />
                </a>
            </div>
            @*<div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/2.png" alt="" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/10.png" alt="" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/4.png" alt="" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/5.png" alt="" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/9.png" alt="" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/7.png" alt="" class="normalImg" />
                </a>
            </div>
            <div class="singleClient">
                <a href="#">
                    <img src="~/Content/Images/client/8.png" alt="" class="normalImg" />
                </a>
            </div>*@
        </div>
    </div>
</section>