<section class="comonSection contactSection" id="contact">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="sectionTitle whites">
                    <i class="icon-envelope"></i>
                    <h2>Напишите нам</h2>
                    <p>Мы поможем вам претворить мечты в реальность</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="ocntactInfo">
                    <i class="icon-map-pin"></i>
                    <div class="clearfix"></div>
                    <p>
                        Красная площадь, 1,<br />
                        Москва,<br />
                        Россия
                    </p>
                </div>
            </div>
            <div class="col-sm-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="ocntactInfo">
                    <i class="icon-phone"></i>
                    <div class="clearfix"></div>
                    <p>
                         +880 170127548<br />
                        По вопросам партнерства - +880 1770212324
                    </p>
                </div>
            </div>
            <div class="col-sm-4 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="ocntactInfo">
                    <i class="icon-global"></i>
                    <div class="clearfix"></div>
                    <p>
                        Продажи - sale@agency.com<br />
                        Поддержка - Support@agency.com<br />
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="row">
                    <div class="contactForm">
                        <form method="post" action="#" id="contactForm">
                            <div class="col-sm-6">
                                <input class="required" type="text" name="f_name" id="f_name" placeholder="Ваше имя" />
                            </div>
                            <div class="col-sm-6">
                                <input class="required" type="email" name="f_email" id="f_email" placeholder="Ваш электронный адрес" />
                            </div>
                            <div class="col-lg-12">
                                <textarea class="required" name="con_message" id="con_message" placeholder="Расскажите нам о своих задумках"></textarea>
                            </div>
                            <div class="col-lg-12 submitbuttons">
                                <button type="submit" id="con_submit">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<div class="contactMapButton">
    <a href="#" id="toggleMap">
        <i class="icon-map"></i>
    </a>
</div>
<div class="mapArea">
    <div class="map" id="map"></div>
</div>*@
<div class="clearfix"></div>
