
<section class="comonSection historySection" id="history">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="350ms">
                <div class="sectionTitle">
                    <i class="icon-layers"></i>
                    <h2>Our History</h2>
                    <p>Lorem ipsum dolor ingroe remove it later</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="350ms">

                <div class="panel-group myAccordion wow fadeInUp" data-wow-duration="700ms" data-wow-delay="350ms" id="accordion" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    glorious 2015
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 paddingRight30 firstRow">
                                        <div class="bars">
                                            <span><i class="fa fa-thumbs-o-up"></i></span>
                                        </div>
                                        <div class="panContent panLeft">
                                            <img src="~/Content/Images/history/1.png" alt="" />
                                            <a href="#">Wecanfly Template</a>
                                            <p>
                                                Boy desirous families prepared gay reserved add ecstatic say.
                                                Replied joy age visitor nothing cottage. Mrs door paid led.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 paddingLeft30">
                                        <div class="panDate dateLeft">
                                            <div class="hisDate">January 02, 2015</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-6 col-sm-6 paddingRight30">
                                        <div class="bars">
                                            <span><i class="fa fa-thumbs-o-up"></i></span>
                                        </div>
                                        <div class="panDate dateRight">
                                            <div class="hisDate">February 21, 2015</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 paddingLeft30">
                                        <div class="panContent panRight">
                                            <img src="~/Content/Images/history/2.png" alt="" />
                                            <a href="#">Slight Business</a>
                                            <p>
                                                Boy desirous families prepared gay reserved add ecstatic say.
                                                Replied joy age visitor nothing cottage. Mrs door paid led.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row lastRow">
                                    <div class="col-lg-6 col-sm-6 paddingRight30">
                                        <div class="bars">
                                            <span><i class="fa fa-thumbs-o-up"></i></span>
                                        </div>
                                        <div class="panContent panLeft">
                                            <img src="~/Content/Images/history/3.png" alt="" />
                                            <a href="#">Roso Template</a>
                                            <p>
                                                Boy desirous families prepared gay reserved add ecstatic say.
                                                Replied joy age visitor nothing cottage. Mrs door paid led.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 paddingLeft30">
                                        <div class="panDate dateLeft">
                                            <div class="hisDate">April 14, 2015</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    racking 2014
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="row firstRow">

                                    <div class="col-lg-6 col-sm-6 paddingRight30">
                                        <div class="bars">
                                            <span><i class="fa fa-thumbs-o-down"></i></span>
                                        </div>
                                        <div class="panDate dateRight">
                                            <div class="hisDate">January 02, 2015</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 paddingLeft30">
                                        <div class="panContent panRight">
                                            <img src="~/Content/Images/history/4.png" alt="" />
                                            <a href="#">Wecanfly Template</a>
                                            <p>
                                                Boy desirous families prepared gay reserved add ecstatic say.
                                                Replied joy age visitor nothing cottage. Mrs door paid led.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 paddingRight30 ">
                                        <div class="bars">
                                            <span><i class="fa fa-thumbs-o-down"></i></span>
                                        </div>
                                        <div class="panContent panLeft">
                                            <img src="~/Content/Images/history/5.png" alt="" />
                                            <a href="#">Slight Business</a>
                                            <p>
                                                Boy desirous families prepared gay reserved add ecstatic say.
                                                Replied joy age visitor nothing cottage. Mrs door paid led.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 paddingLeft30">
                                        <div class="panDate dateLeft">
                                            <div class="hisDate">February 21, 2015</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row lastRow">

                                    <div class="col-lg-6 col-sm-6 paddingRight30">
                                        <div class="bars">
                                            <span><i class="fa fa-thumbs-o-down"></i></span>
                                        </div>
                                        <div class="panDate dateRight">
                                            <div class="hisDate">March 08, 2015</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 paddingLeft30">
                                        <div class="panContent panRight">
                                            <img src="~/Content/Images/history/6.png" alt="" />
                                            <a href="#">Sapona Template</a>
                                            <p>
                                                Boy desirous families prepared gay reserved add ecstatic say.
                                                Replied joy age visitor nothing cottage. Mrs door paid led.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    starting point 2013
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 paddingRight30 firstRow">
                                        <div class="bars">
                                            <span><i class="fa fa-thumbs-o-up"></i></span>
                                        </div>
                                        <div class="panContent panLeft">
                                            <img src="~/Content/Images/history/7.png" alt="" />
                                            <a href="#">Wecanfly Template</a>
                                            <p>
                                                Boy desirous families prepared gay reserved add ecstatic say.
                                                Replied joy age visitor nothing cottage. Mrs door paid led.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 paddingLeft30">
                                        <div class="panDate dateLeft">
                                            <div class="hisDate">July 02, 2015</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-6 col-sm-6 paddingRight30">
                                        <div class="bars">
                                            <span><i class="fa fa-thumbs-o-up"></i></span>
                                        </div>
                                        <div class="panDate dateRight">
                                            <div class="hisDate">September 21, 2015</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 paddingLeft30">
                                        <div class="panContent panRight">
                                            <img src="~/Content/Images/history/8.png" alt="" />
                                            <a href="#">Slight Business</a>
                                            <p>
                                                Boy desirous families prepared gay reserved add ecstatic say.
                                                Replied joy age visitor nothing cottage. Mrs door paid led.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row lastRow">
                                    <div class="col-lg-6 col-sm-6 paddingRight30">
                                        <div class="bars">
                                            <span><i class="fa fa-thumbs-o-up"></i></span>
                                        </div>
                                        <div class="panContent panLeft">
                                            <img src="~/Content/Images/history/9.png" alt="" />
                                            <a href="#">Topbiz Template</a>
                                            <p>
                                                Boy desirous families prepared gay reserved add ecstatic say.
                                                Replied joy age visitor nothing cottage. Mrs door paid led.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 paddingLeft30">
                                        <div class="panDate dateLeft">
                                            <div class="hisDate">December 16, 2015</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>