
<section class="comonSection folioSection" id="work">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sectionTitle wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                    <i class="icon-wallet"></i>
                    <h2>Our Works</h2>
                    <p>Lorem ipsum dolor ingroe remove it later</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="foliioMenu">
                    <ul>
                        <li class="filter active" data-filter="all">All</li>
                        <li class="filter" data-filter="design">Design</li>
                        <li class="filter" data-filter="development">Development</li>
                        <li class="filter" data-filter="illustration">Illustration</li>
                        <li class="filter" data-filter="creative">Creative</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms" id="Grid">
            <div class="singleFolio mix design">
                <img src="~/Content/Images/folio/1.png" alt="" />
                <div class="folioHover">
                    <div class="folioHoverContent">
                        <a href="~/Content/Images/folio/1.jpg" data-rel="prettyPhoto">
                            <i class="icon-scope"></i>
                            <h2>Web Design</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="singleFolio mix development">
                <img src="~/Content/Images/folio/2.png" alt="" />
                <div class="folioHover">
                    <div class="folioHoverContent">
                        <a href="~/Content/Images/folio/2.jpg" data-rel="prettyPhoto">
                            <i class="icon-scope"></i>
                            <h2>Development</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="singleFolio mix illustration">
                <img src="~/Content/Images/folio/3.png" alt="" />
                <div class="folioHover">
                    <div class="folioHoverContent">
                        <a href="~/Content/Images/folio/3.jpg" data-rel="prettyPhoto">
                            <i class="icon-scope"></i>
                            <h2>Illustration</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="singleFolio mix creative">
                <img src="~/Content/Images/folio/4.png" alt="" />
                <div class="folioHover">
                    <div class="folioHoverContent">
                        <a href="~/Content/Images/folio/4.jpg" data-rel="prettyPhoto">
                            <i class="icon-scope"></i>
                            <h2>Creative</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="singleFolio mix design">
                <img src="~/Content/Images/folio/5.png" alt="" />
                <div class="folioHover">
                    <div class="folioHoverContent">
                        <a href="~/Content/Images/folio/5.jpg" data-rel="prettyPhoto">
                            <i class="icon-scope"></i>
                            <h2>Web Design</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="singleFolio mix development">
                <img src="~/Content/Images/folio/6.png" alt="" />
                <div class="folioHover">
                    <div class="folioHoverContent">
                        <a href="~/Content/Images/folio/6.jpg" data-rel="prettyPhoto">
                            <i class="icon-scope"></i>
                            <h2>Development</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="singleFolio mix illustration">
                <img src="~/Content/Images/folio/7.png" alt="" />
                <div class="folioHover">
                    <div class="folioHoverContent">
                        <a href="~/Content/Images/folio/7.jpg" data-rel="prettyPhoto">
                            <i class="icon-scope"></i>
                            <h2>Illustration</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="singleFolio mix creative">
                <img src="~/Content/Images/folio/8.png" alt="" />
                <div class="folioHover">
                    <div class="folioHoverContent">
                        <a href="~/Content/Images/folio/8.jpg" data-rel="prettyPhoto">
                            <i class="icon-scope"></i>
                            <h2>Creative</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="singleFolio mix design">
                <img src="~/Content/Images/folio/9.png" alt="" />
                <div class="folioHover">
                    <div class="folioHoverContent">
                        <a href="~/Content/Images/folio/9.jpg" data-rel="prettyPhoto">
                            <i class="icon-scope"></i>
                            <h2>Web Design</h2>
                        </a>
                    </div>
                </div>
            </div>
            <div class="singleFolio mix development hidden-sm">
                <img src="~/Content/Images/folio/10.png" alt="" />
                <div class="folioHover">
                    <div class="folioHoverContent">
                        <a href="~/Content/Images/folio/10.jpg" data-rel="prettyPhoto">
                            <i class="icon-scope"></i>
                            <h2>Development</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>