
<section class="comonSection" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sectionTitle wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                    <i class="icon-anchor"></i>
                    <h2>Что мы делаем</h2>
                    <p>Lorem ipsum dolor ingroe remove it later</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="sF2DHolder">
                    <div class="singleFeatureDetails" id="branding">
                        <i class="icon-globe"></i>
                        <h2>Global Branding</h2>
                        <p>
                            Print this page to PDF for the complete set of vectors. Or to use on
                            the desktop.
                        </p>
                    </div>
                    <div class="singleFeatureDetails" id="develop">
                        <i class="icon-layers"></i>
                        <h2>Рекламные ролики</h2>
                        <p>
                            Снимаем рекламные ролики
                        </p>
                    </div>
                    <div class="singleFeatureDetails" id="seo">
                        <i class="icon-presentation"></i>
                        <h2>SEO Optimized</h2>
                        <p>
                            Print this page to PDF for the complete set of vectors. Or to use on
                            the desktop.
                        </p>
                    </div>
                    <div class="singleFeatureDetails" id="images">
                        <i class="icon-pictures"></i>
                        <h2>Awesome Images</h2>
                        <p>
                            Print this page to PDF for the complete set of vectors. Or to use on
                            the desktop.
                        </p>
                    </div>
                    <div class="singleFeatureDetails" id="responsive">
                        <i class="icon-tablet"></i>
                        <h2>Fully Responsive</h2>
                        <p>
                            Print this page to PDF for the complete set of vectors. Or to use on
                            the desktop.
                        </p>
                    </div>
                    <div class="singleFeatureDetails" id="customization">
                        <i class="icon-tools"></i>
                        <h2>Easy Customization</h2>
                        <p>
                            Print this page to PDF for the complete set of vectors. Or to use on
                            the desktop.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="features2">
                    <div class="singleFeatures2">
                        <div class="sF2con active">
                            <a href="#branding">
                                <i class="icon-globe"></i>
                                <h4>Global Branding</h4>
                            </a>
                        </div>
                    </div>
                    <div class="singleFeatures2">
                        <div class="sF2con">
                            <a href="#develop">
                                <i class="icon-layers"></i>
                                <h4>Easy Develop</h4>
                            </a>
                        </div>
                    </div>
                    <div class="singleFeatures2">
                        <div class="sF2con">
                            <a href="#seo">
                                <i class="icon-presentation"></i>
                                <h4>SEO Optimized</h4>
                            </a>
                        </div>
                    </div>
                    <div class="singleFeatures2">
                        <div class="sF2con">
                            <a href="#images">
                                <i class="icon-pictures"></i>
                                <h4>Awesome Images</h4>
                            </a>
                        </div>
                    </div>
                    <div class="singleFeatures2">
                        <div class="sF2con">
                            <a href="#responsive">
                                <i class="icon-tablet"></i>
                                <h4>Fully Responsive</h4>
                            </a>
                        </div>
                    </div>
                    <div class="singleFeatures2">
                        <div class="sF2con">
                            <a href="#customization">
                                <i class="icon-tools"></i>
                                <h4>Easy Customization</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>