
<section class="comonSection" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sectionTitle wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                    <i class="icon-layers"></i>
                    <h2>Что мы делаем</h2>
                    <p>Телевизионный Продюсерский Центр- это сосредоточение продюсеров- людей, которые могут придумать, разработать, организовать и реализовать!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="sF2DHolder">
                    <div class="singleFeatureDetails" id="branding">
                        <i class="flaticon-sportlights"></i>
                        <h2>Концерты</h2>
                        <p>
                            Готовим и снимаем концерты
                        </p>
                    </div>
                    <div class="singleFeatureDetails" id="develop">
                        <i class="flaticon-microphone"></i>
                        <h2>Фестивали</h2>
                        <p>
                            Организуем и проводим фестивали
                        </p>
                    </div>
                    <div class="singleFeatureDetails" id="responsive">
                        <i class="flaticon-cinema"></i>
                        <h2>Клипы</h2>
                        <p>
                            Снимаем клипы
                        </p>
                    </div>
                    <div class="singleFeatureDetails" id="images">
                        <i class="flaticon-television"></i>
                        <h2>Телепередачи</h2>
                        <p>
                            Готовим и снимаем телепередачи
                        </p>
                    </div>
                    <div class="singleFeatureDetails" id="seo">
                        <i class="flaticon-movie-clip-button"></i>
                        <h2>Фильмы</h2>
                        <p>
                           Снимаем отличные документальные фильмы и фильмы-концерты
                        </p>
                    </div>

                    <div class="singleFeatureDetails" id="customization">
                        <i class="flaticon-marketing"></i>
                        <h2>Реклама</h2>
                        <p>
                            Разрабатыаем и снимаем рекламные ролики
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="features2">
                    <div class="singleFeatures2">
                        <div class="sF2con active">
                            <a href="#branding">
                                <i class="flaticon-sportlights"></i>
                                <h4>Концерты</h4>
                            </a>
                        </div>
                    </div>
                    <div class="singleFeatures2">
                        <div class="sF2con">
                            <a href="#develop">
                                <i class="flaticon-microphone"></i>
                                <h4>Фестивали</h4>
                            </a>
                        </div>
                    </div>
                    <div class="singleFeatures2">
                        <div class="sF2con">
                            <a href="#responsive">
                                <i class="flaticon-cinema"></i>
                                <h4>Клипы</h4>
                            </a>
                        </div>
                    </div>
                    <div class="singleFeatures2">
                        <div class="sF2con">
                            <a href="#images">
                                <i class="flaticon-television"></i>
                                <h4>Телепередачи</h4>
                            </a>
                        </div>
                    </div>
                    <div class="singleFeatures2">
                        <div class="sF2con">
                            <a href="#seo">
                                <i class="flaticon-movie-clip-button"></i>
                                <h4>Фильмы</h4>
                            </a>
                        </div>
                    </div>

                    <div class="singleFeatures2">
                        <div class="sF2con">
                            <a href="#customization">
                                <i class="flaticon-marketing"></i>
                                <h4>Реклама</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fun Facts Section -->
<section class="comonSection funfactsection">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="singleFunfact">
                    <h2 class="mycounter" data-counter="37">37</h2>
                    <h3>Концертов</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="350ms">
                <div class="singleFunfact">
                    <h2 class="mycounter" data-counter="15">15</h2>
                    <h3>Рекламных роликов</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
                <div class="singleFunfact">
                    <h2 class="mycounter" data-counter="26">26</h2>
                    <h3>Клипов</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="450ms">
                <div class="singleFunfact">
                    <h2 class="mycounter" data-counter="89">89</h2>
                    <h3>Довольных клиентов</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Funfacts -->