
<section class="sliderarea">
    <div id="mainCarousel2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="sliderItem2 itemFour bannersa">
                    <div class="overlay"></div>
                    <div class="slcontents">
                        <h2 class="sH2">We are creative</h2>
                        <p class="sP2">
                            Print this page to PDF for the complete set of vectors. Or to use on
                            the desktop.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="sliderItem2 itemFive bannersa">
                    <div class="overlay"></div>
                    <div class="slcontents">
                        <h2 class="sH2">We are Pro</h2>
                        <p class="sP2">
                            Print this page to PDF for the complete set of vectors. Or to use on
                            the desktop.
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="sliderItem2 itemSix bannersa">
                    <div class="overlay"></div>
                    <div class="slcontents">
                        <h2 class="sH2">We are Honest</h2>
                        <p class="sP2">
                            Print this page to PDF for the complete set of vectors. Or to use on
                            the desktop.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#mainCarousel2" role="button" data-slide="prev">Prev</a>
        <a class="right carousel-control" href="#mainCarousel2" role="button" data-slide="next">Next</a>
    </div>

</section>