
<section class="sliderarea">
    <div id="mainCarousel2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="sliderItem2 item-one bannersa">
                    <div class="overlay"></div>
                    <div class="slcontents">
                        <h2 class="sH2">креативность</h2>
                        <p class="sP2">
                            Телевизионный продюсерский центр
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="sliderItem2 item-two bannersa">
                    <div class="overlay"></div>
                    <div class="slcontents">
                        <h2 class="sH2">профессионализм</h2>
                        <p class="sP2">
                            Телевизионный продюсерский центр
                        </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="sliderItem2 item-three bannersa">
                    <div class="overlay"></div>
                    <div class="slcontents">
                        <h2 class="sH2">результат</h2>
                        <p class="sP2">
                            Телевизионный продюсерский центр
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#mainCarousel2" role="button" data-slide="prev"><</a>
        <a class="right carousel-control" href="#mainCarousel2" role="button" data-slide="next">></a>
    </div>

</section>