
<section class="comonSection" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="sectionTitle">
                    <i class="icon-profile-male"></i>
                    <h2>Наша команда</h2>
                    <p>Вам не найти профессионалов лучше. Только самые опытные и талантливые люди</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="singleTeam">
                    <div class="teamThumb">
                        <img src="~/Content/Images/team/1.png" alt=""/>
                    </div>
                    <h2>Ольга Покровская<span>- Продюсер</span></h2>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="350ms">
                <div class="singleTeam">
                    <div class="teamThumb">
                        <img src="~/Content/Images/team/2.png" alt=""/>
                    </div>
                    <h2>Коченкова Евгения <span>- Редактор</span></h2>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
                <div class="singleTeam">
                    <div class="teamThumb">
                        <img src="~/Content/Images/team/3.png" alt=""/>
                    </div>
                    <h2>Буденко Андрей<span>- Режиссер</span></h2>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="450ms">
                <div class="singleTeam">
                    <div class="teamThumb">
                        <img src="~/Content/Images/team/4.png" alt=""/>
                        
                    </div>
                    <h2>Рамазанов  Тимур<span>- Режиссер</span></h2>
                </div>
            </div>
        </div>
        @*<div class="row">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                <div class="singleTeam">
                    <div class="teamThumb">
                        <img src="~/Content/Images/team/1.png" alt="" />
                        <div class="teamHover">
                            <div class="teamHoverContent">
                                <p>
                                    Print this page to PDF for the complete set of vectors. Or to
                                    use on the desktop install Font.
                                </p>
                                <div class="teamSocial">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Adam Smith <span>- director</span></h2>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="350ms">
                <div class="singleTeam">
                    <div class="teamThumb">
                        <img src="~/Content/Images/team/2.png" alt="" />
                        <div class="teamHover">
                            <div class="teamHoverContent">
                                <p>
                                    Print this page to PDF for the complete set of vectors. Or to
                                    use on the desktop install Font.
                                </p>
                                <div class="teamSocial">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Al Mamun <span>- Designer</span></h2>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="400ms">
                <div class="singleTeam">
                    <div class="teamThumb">
                        <img src="~/Content/Images/team/3.png" alt="" />
                        <div class="teamHover">
                            <div class="teamHoverContent">
                                <p>
                                    Print this page to PDF for the complete set of vectors. Or to
                                    use on the desktop install Font.
                                </p>
                                <div class="teamSocial">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Abdul Latif <span>- Developer</span></h2>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-duration="700ms" data-wow-delay="450ms">
                <div class="singleTeam">
                    <div class="teamThumb">
                        <img src="~/Content/Images/team/4.png" alt="" />
                        <div class="teamHover">
                            <div class="teamHoverContent">
                                <p>
                                    Print this page to PDF for the complete set of vectors. Or to
                                    use on the desktop install Font.
                                </p>
                                <div class="teamSocial">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Ruhan Rayan <span>- Developer</span></h2>
                </div>
            </div>
        </div>*@
    </div>
</section>
