
<section class="comonSection testimonialsection wow fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="testimonialSlider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="testimonialItem">
                                <i class="icon-quote"></i>
                                <p>
                                    Очень благодарны за профессионализм и отдачу
                                </p>
                                <h3>Иванов Иван</h3>
                                <span>Исполнительный директор, ПАО "Газнефтьуголь"</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonialItem">
                                <i class="icon-quote"></i>
                                <p>
                                    Очень благодарны за профессионализм и отдачу
                                </p>
                                <h3>Иванов Иван</h3>
                                <span>Исполнительный директор, ПАО "Газпром"</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonialItem">
                                <i class="icon-quote"></i>
                                <p>
                                    Очень благодарны за профессионализм и отдачу
                                </p>
                                <h3>Иванов Иван</h3>
                                <span>Исполнительный директор, ПАО "Газпром"</span>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#testimonialSlider" data-slide-to="0" class="active">
                            <img src="~/Content/Images/testimonial/1.png" alt="" />
                        </li>
                        <li data-target="#testimonialSlider" data-slide-to="1">
                            <img src="~/Content/Images/testimonial/2.png" alt="" />
                        </li>
                        <li data-target="#testimonialSlider" data-slide-to="2">
                            <img src="~/Content/Images/testimonial/3.png" alt="" />
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</section>