    
<div id="mainCarousel2" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="sliderItem2 item-two bannersa">
                <div class="overlay"></div>
                <div class="slcontents centered-content">
                    <img src="~/Content/Images/logo_with_text.png" style="width: 300px;"/>
                    <h5>В настоящий момент сайт находится в разработке. Приносим извинения за доставленные неудобства</h5>
                    <h5>Вы можете связаться с нами по телефону: 8-916-969-57-38</h5>
                    @*<h5>Оставьте электронный адрес, и мы оповестим Вас о запуске</h5>
                    <form>
                        <input type/>
                    </form>*@

                </div>
            </div>
        </div>
    </div>
</div>
