@model dynamic

@{
    ViewBag.Title = "Семья года 2016";
    Layout = "~/Views/Shared/_NavigationLayoutWithLinks.cshtml";
}




<div class="container">
    <div class="row">
        <h2>Всероссийский конкурс "Семья года" 2016 года</h2>
        <img src="~/Content/portfolio/familyofyear2016/logo.jpg" />
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>
                <strong>Заказчик:</strong>
            </h3>
            <h3>Правительство Российской Федерации</h3>
            <h3>Описание:</h3>
            <div>
                Результаты аудита показали, что в настоящий момент компанией почти достигнут первый уровень организационной зрелости, т.е. компания практически создала условия для устойчивого развития организации и минимизации рисков, связанных с использованием наемных работников.

                Было установлено, что Компания фактически находится на пороге второго уровня организационной зрелости – т.е. на этапе построения и внедрения ключевых технологий управления человеческими ресурсами. Однако внедрение технологий второго уровня является преждевременным до решения всех задач уровня предыдущего.
                Результаты аудита показали, что в настоящий момент компанией почти достигнут первый уровень организационной зрелости, т.е. компания практически создала условия для устойчивого развития организации и минимизации рисков, связанных с использованием наемных работников.

                Было установлено, что Компания фактически находится на пороге второго уровня организационной зрелости – т.е. на этапе построения и внедрения ключевых технологий управления человеческими ресурсами. Однако внедрение технологий второго уровня является преждевременным до решения всех задач уровня предыдущего.
                Результаты аудита показали, что в настоящий момент компанией почти достигнут первый уровень организационной зрелости, т.е. компания практически создала условия для устойчивого развития организации и минимизации рисков, связанных с использованием наемных работников.

                Было установлено, что Компания фактически находится на пороге второго уровня организационной зрелости – т.е. на этапе построения и внедрения ключевых технологий управления человеческими ресурсами. Однако внедрение технологий второго уровня является преждевременным до решения всех задач уровня предыдущего.
                Результаты аудита показали, что в настоящий момент компанией почти достигнут первый уровень организационной зрелости, т.е. компания практически создала условия для устойчивого развития организации и минимизации рисков, связанных с использованием наемных работников.

                Было установлено, что Компания фактически находится на пороге второго уровня организационной зрелости – т.е. на этапе построения и внедрения ключевых технологий управления человеческими ресурсами. Однако внедрение технологий второго уровня является преждевременным до решения всех задач уровня предыдущего.
            </div>


        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">


                    <div class="singleFolio mix design">
                        <img src="~/Content/Images/folio/pexels-photo-132701.jpeg" />
                        <div class="folioHover">
                            <div class="folioHoverContent">
                                <a href="~/Content/Images/folio/pexels-photo-132701.jpeg" data-rel="prettyPhoto">
                                    <i class="icon-scope"></i>
                                    <h2>Свадьба</h2>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="singleFolio mix design">
                        <img src="~/Content/Images/folio/pexels-photo-132701.jpeg" />
                        <div class="folioHover">
                            <div class="folioHoverContent">
                                <a href="~/Content/Images/folio/pexels-photo-132701.jpeg" data-rel="prettyPhoto">
                                    <i class="icon-scope"></i>
                                    <h2>Свадьба</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="singleFolio mix design">
                        <img src="~/Content/Images/folio/pexels-photo-132701.jpeg" />
                        <div class="folioHover">
                            <div class="folioHoverContent">
                                <a href="~/Content/Images/folio/pexels-photo-132701.jpeg" data-rel="prettyPhoto">
                                    <i class="icon-scope"></i>
                                    <h2>Свадьба</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="singleFolio mix design">
                        <img src="~/Content/Images/folio/pexels-photo-132701.jpeg" />
                        <div class="folioHover">
                            <div class="folioHoverContent">
                                <a href="~/Content/Images/folio/pexels-photo-132701.jpeg" data-rel="prettyPhoto">
                                    <i class="icon-scope"></i>
                                    <h2>Свадьба</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="singleFolio mix design">
                        <img src="~/Content/Images/folio/pexels-photo-132701.jpeg" />
                        <div class="folioHover">
                            <div class="folioHoverContent">
                                <a href="~/Content/Images/folio/pexels-photo-132701.jpeg" data-rel="prettyPhoto">
                                    <i class="icon-scope"></i>
                                    <h2>Свадьба</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="singleFolio mix design">
                        <img src="~/Content/Images/folio/pexels-photo-132701.jpeg" />
                        <div class="folioHover">
                            <div class="folioHoverContent">
                                <a href="~/Content/Images/folio/pexels-photo-132701.jpeg" data-rel="prettyPhoto">
                                    <i class="icon-scope"></i>
                                    <h2>Свадьба</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="singleFolio mix design">
                        <img src="~/Content/Images/folio/pexels-photo-132701.jpeg" />
                        <div class="folioHover">
                            <div class="folioHoverContent">
                                <a href="~/Content/Images/folio/pexels-photo-132701.jpeg" data-rel="prettyPhoto">
                                    <i class="icon-scope"></i>
                                    <h2>Свадьба</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="singleFolio mix design">
                        <img src="~/Content/Images/folio/pexels-photo-132701.jpeg" />
                        <div class="folioHover">
                            <div class="folioHoverContent">
                                <a href="~/Content/Images/folio/pexels-photo-132701.jpeg" data-rel="prettyPhoto">
                                    <i class="icon-scope"></i>
                                    <h2>Свадьба</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="singleFolio mix design">
                        <img src="~/Content/Images/folio/pexels-photo-132701.jpeg" />
                        <div class="folioHover">
                            <div class="folioHoverContent">
                                <a href="~/Content/Images/folio/pexels-photo-132701.jpeg" data-rel="prettyPhoto">
                                    <i class="icon-scope"></i>
                                    <h2>Свадьба</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="singleFolio mix design">
                        <img src="~/Content/Images/folio/pexels-photo-132701.jpeg" />
                        <div class="folioHover">
                            <div class="folioHoverContent">
                                <a href="~/Content/Images/folio/pexels-photo-132701.jpeg" data-rel="prettyPhoto">
                                    <i class="icon-scope"></i>
                                    <h2>Свадьба</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
