@model dynamic

@{
    ViewBag.Title = "Семья года 2016";
    Layout = "~/Views/Shared/_NavigationLayoutWithLinks.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <h3>Название мероприятия:</h3>
            <h4>Всероссийский конкурс "Семья года" 2016 года</h4>
            <br/>
            <h3>Заказчик:</h3>
            <h4>Правительство Российской Федерации</h4>
            <br/>
            <h3>Описание:</h3>
            <p>Всероссийский конкурс «Семья года» проводился во исполнение пункта 37 Плана мероприятий
                на 2015 – 2018 годы по реализации первого этапа Концепции государственной семейной политики в Российской Федерации на период до 2025 года,
                утвержденного распоряжением Правительства Российской Федерации от 9 апреля 2015 г. № 607-р.
                Ответственными исполнителями мероприятия выступили: Минтруд России, Фонд поддержки детей, находящихся в трудной жизненной ситуации,
            и органы исполнительной власти субъектов Российской Федерации</p>

        </div>
        <div class="col-lg-7">
                <div class="singleFolio mix design">

                    <a href="~/Content/portfolio/familyofyear2016/1.jpg" rel="prettyPhoto[group1]">
                        <img src="~/Content/portfolio/familyofyear2016/1.jpg" />
                    </a>
                </div>
                <div class="singleFolio mix design">

                    <a href="~/Content/portfolio/familyofyear2016/2.jpg" rel="prettyPhoto[group1]">
                        <img src="~/Content/portfolio/familyofyear2016/2.jpg" />
                    </a>
                </div>
                <div class="singleFolio mix design">

                    <a href="~/Content/portfolio/familyofyear2016/3.jpg" rel="prettyPhoto[group1]">
                        <img src="~/Content/portfolio/familyofyear2016/3.jpg" />
                    </a>
                </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/5.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/5.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/6.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/6.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/7.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/7.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/8.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/8.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/9.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/9.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/10.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/10.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/11.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/11.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/12.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/12.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/13.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/13.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/14.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/14.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/15.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/15.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/16.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/16.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/17.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/17.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/18.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/18.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/19.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/19.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/20.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/20.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/21.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/21.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/22.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/22.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/23.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/23.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">
                <a href="~/Content/portfolio/familyofyear2016/24.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/24.jpg"/>
                </a>
            </div>
            <div class="singleFolio mix design">

                <a href="~/Content/portfolio/familyofyear2016/4.jpg" rel="prettyPhoto[group1]">
                    <img src="~/Content/portfolio/familyofyear2016/4.jpg" />
                </a>
            </div>
</div>
    </div>
</div>
