@{
    ViewBag.Title = "Золотые пары 2017";
    Layout = "~/Views/Shared/_NavigationLayoutWithLinks.cshtml";
}


<div class="container portfolio-item-container">
    <div class="row">
        <div class="col-lg-4 portfolio-item-details">
            <h4 class="portfolio-item-header">Название мероприятия</h4>
            <h3>Золотые пары 2017</h3>
            <br />
            <h4 class="portfolio-item-header">Заказчик</h4>
            <h3>Правительство Российской Федерации</h3>
            <br />
            <h4 class="portfolio-item-header">Описание</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu diam a leo posuere pellentesque. Fusce eu dui orci. Morbi eu hendrerit risus. Nam lacinia, lectus eu suscipit tincidunt, turpis enim congue sapien, eu consectetur magna neque a erat. Vestibulum eu finibus nunc, non laoreet mauris. Nam egestas, dolor vel convallis ultricies, justo ligula aliquam turpis, id dapibus lectus magna eu justo. Phasellus vulputate augue eu eleifend ornare. Sed mollis rhoncus fermentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi aliquet mollis mi ut dignissim. Nam a viverra lorem, id pharetra dui. Aenean interdum, libero ac egestas tempor, risus lorem tincidunt metus, eu viverra enim massa nec nisl. Ut ullamcorper gravida mauris sed ullamcorper.
            </p>
        </div>
        <div class="col-lg-8">
            <div class="popup-gallery">
                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-0.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-0.jpg" />
                </a>
                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-1.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-1.jpg" />
                </a>
                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-2.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-2.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-4.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-4.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-5.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-5.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-6.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-6.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-7.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-7.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-8.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-8.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-9.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-9.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-10.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-10.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-11.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-11.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-12.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-12.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-13.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-13.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-14.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-14.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-15.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-15.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-16.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-16.jpg" />
                </a>

                <a href="~/Content/portfolio/goldenpairs2017/full/golden-pairs-2017-17.jpg">
                    <img src="~/Content/portfolio/goldenpairs2017/thumbnails/golden-pairs-2017-thumb-17.jpg" />
                </a>
            </div>
        </div>
    </div>
</div>