<!DOCTYPE html>
<html lang="en">
<head>
    <title>Телeвизионный продюсерский центр</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <!-- Include All CSS -->
    <link href="~/Content/Styles/animate.css" rel="stylesheet"/>
    <link href="~/Content/Styles/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/Styles/font-awesome.css" rel="stylesheet"/>
    <link href="~/Content/Styles/iconmoon.css" rel="stylesheet"/>
    <link href="~/Content/Styles/preset.css" rel="stylesheet"/>
    <link href="~/Content/Styles/prettyPhoto.css" rel="stylesheet"/>
    <link href="~/Content/Styles/responsive.css" rel="stylesheet"/>
    <link href="~/Content/Styles/style.css" rel="stylesheet"/>
    @*выберем палитру синих цветов по умолчанию*@
    <link id="colorPreset" href="~/Content/Styles/colors/color4.css" rel="stylesheet"/>

    <!-- End Include All CSS -->
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="~/Content/Images/favicon.png">
    <!-- Favicon Icon -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
@RenderBody()

<!-- Include All JS -->
<script type="text/javascript" src="~/Scripts/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/mixer.js"></script>
<script type="text/javascript" src="~/Scripts/wow.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.appear.js"></script>
<script type="text/javascript" src="~/Scripts/prettyPhoto.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="~/Scripts/gmaps.js"></script>
<script type="text/javascript" src="~/Scripts/theme.js"></script>

<!--скрипты, которые скорее всего не нужны-->
<script type="text/javascript" src="~/Scripts/canvas.js"></script>
<script type="text/javascript" src="~/Scripts/html5shiv.js"></script>
<script type="text/javascript" src="~/Scripts/respond.min.js"></script>

</body>
</html>