.color1 {
    color: #a5c7d3;
}
.color2 {
    color: #a0a0a0;
}
.color3 {
    color: #808080;
}

.color4 {
    color: #1d3942;
}

.color5 {
    color: #4a8fa7;
}

.color6 {
    color: #404040;
}
.color7 {
    color: #000000;
}

/*#404040
#4D93AA
#3F3F3F
#333333
#474849
#555555
#808080
#4A8FA7
#4B96A5*/



